.header {
  display: flex;
  align-items: center;
}

.logo {
  width: 150px;
}

nav {
  width: 100%;
  font-size: 18px;
  position: sticky;
  top: 0;
}

nav > ul {
  display: flex;
  text-align: center;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.3);
  height: 60px;
}

nav ul {
  list-style: none;
}

nav > ul > li {
  background-color: #512178;
  position: relative;
  height: 100%;
  flex: 1;
}

nav > ul > li > a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header li a {
  text-decoration: none;
  color: white;
}

.menu_deroulant > a:after {
  content: 'â¯';
  font-size: 15px;
  margin-left: 7px;
  display: inline-block;
}

.sous_menu {
  margin-top: 60px;
  width: 100%;
  text-align: left;
  background-color: #512178;
  border-radius: 2px;
  overflow: hidden;
  max-height: 0;
}

.sous_menu > li > a {
  height: 50px;
  padding-left: 20px;
  width: 100%;
  align-items: center;
  display: flex;
}

nav > ul > li:hover > a{
  color: yellow;
}

.sous_menu > li:hover {
  background-color: rgba(33, 105, 236, 0.3);
}

.sous_menu > li:hover > a {
  color: white;
}

.menu_deroulant:hover > a:after{
  animation: rotationFleche 350ms linear forwards;
}

.menu_deroulant:hover > .sous_menu {
  animation: apparitionSousMenu 1s forwards;
}